<html>
  <head>
    <title>A-Frame with Angular</title>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  </head>
  <body>

    <a-scene id="a-scene" loading-screen="dotsColor: red; backgroundColor: black" >
        <a-assets>
          <a-asset-item id="cityModel" src="../../assets/buildings/Test_Phone_box.glb"  color="#4CC3D9"  ></a-asset-item>
        </a-assets>
        <a-entity gltf-model="../../assets/buildings/Test_Phone_box.glb" position="0 0 1" color="#4CC3D9"  rotation ="0 45 0"  scale = "5 5 5"
       
         ></a-entity>
        <!-- <a-box position="11.4 4 -3" color="#2596be" scale="6.4 7 11.6" rotation ="0 44.5 0"  ></a-box>
        <a-box position="3 4 -11.4" color="#253bbe" scale="6.4 7 11.6" rotation ="0 44.5 0"></a-box>
        <a-box position="-7.3 4 7.1" color="#Be256b" scale="6.4 7 11.6" rotation ="0 44.5 0"></a-box> -->
  
      </a-scene>
    
  </body>
</html>