
<a-scene>

  <a-sky src ="#sky"></a-sky>
  <a-entity gltf-model="../../assets/buildings/Nike StoreV2.glb" position="0 0 -4" rotation="0 75 0"
    scale="9 9 9"></a-entity>
    
   
  <!-- Point light, in the air. -->


  <!-- Creating Sky Sphere -->

  <!-- Creating Sky Sphere -->


  <!-- Plane Floor -->

  <a-assets>
      <img id="ground" src="../assets/textures/tile.jpg">
      <img id="sky" src="../assets/textures/storesky2.jpg">
    </a-assets>

  <!-- Basic plane. -->
  <!-- <a-plane height="20" width="20"></a-plane> -->

  <!-- Textured plane parallel to ground. -->
  <a-plane src="../assets/textures/tile.jpg" height="1000" width="1000" repeat="200 200" rotation="-90 0 0"></a-plane>

  <!-- Plane Floor -->

  

</a-scene>

<html>
  <head>
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
  </head>
  <body>
    
      <a-scene >

        <a-entity>
          <a-entity gltf-model="../../assets/Laptops/Macbook Silver.glb" position="0 1.2 0"  color="#4CC3Ez9"  rotation ="0 0 0"  scale = "100 100 100"></a-entity>
  
          <a-camera><a-cursor></a-cursor></a-camera>
        </a-entity>
 
     

     <a-sky color="white"></a-sky>
     
      </a-scene>
      
  </body>
</html>


